<template>
  <div v-if="establishment">
    <v-card>
      <v-card-title>
        <span class="headline">Établissement #{{ establishment.id }}</span>
      </v-card-title>

      <v-card-text>
        <v-form ref="form" v-model="valid">
          <!-- Establishement -->
          <v-layout wrap>
            <v-flex xs12>
              <h3 class="headline">{{ establishment.name }}</h3><br>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Nom de l'établissement"
                v-model="establishment.name"
                :rules="rules.required"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Téléphone"
                v-model="establishment.phone"
                :rules="rules.required"
                append-icon="phone"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Adresse"
                v-model="establishment.address"
                :rules="rules.required"
                append-icon="gps_fixed"
                @click:append="openMaps()"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Position"
                v-model="establishment.position"
                :rules="rules.required"
                append-icon="place"
                @click:append="getPosition()"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-btn flat
                color="accent"
                v-for="link in establishment.links"
                :key="link"
                @click="openLink(link)"
              >
              <v-icon>open_in_new</v-icon>&nbsp;
              {{ link | formatUrl }}
              </v-btn>
            </v-flex>
          </v-layout>

          <!-- Pictures -->
          <v-layout wrap class="mt-3">
            <v-flex xs12>
              <h3 class="headline">Photos ({{ establishment.pictures.length }})</h3>
            </v-flex>

            <v-flex xs4 v-for="(picture, i) in establishment.pictures" :key="i">
              <v-card flat tile>
                <v-img :src="picture.src" @click="viewPicture(picture)" max-height="200"></v-img>
              </v-card>
            </v-flex>
          </v-layout>

          <!-- Commentaires -->
          <v-layout wrap class="mt-3">
            <v-flex xs12>
              <h3 class="headline">Commentaires ({{ establishment.comments.length }})</h3>

              <v-card v-for="(comment, i) in establishment.comments" :key="i">
                <v-card-text>
                  <v-textarea :value="comment.content" rows="2" disabled></v-textarea>
                  <v-layout>
                    <v-flex xs6>
                      <note-stars :comment="comment"></note-stars>
                    </v-flex>
                    <v-flex xs6 text-xs-right>
                      <cite>– {{ comment.user }}, {{ comment.createdAt | timeAgo }}</cite>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>

              <p v-if="!establishment.comments.length">Aucun commentaire</p>

              <v-btn dark @click="$refs.comment.open()" v-if="establishment.id">
                <v-icon>add</v-icon> Ajouter un commentaire
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>

      <v-speed-dial v-model="fab" bottom right direction="top" transition="scale-transition">
        <v-btn slot="activator" color="blue darken-2" dark fab v-model="fab">
          <v-icon>menu</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
        <v-btn fab dark @click="startVideo()" v-if="!stream" color="indigo">
          <v-icon>camera_alt</v-icon>
        </v-btn>
        <v-btn fab dark @click="book()" color="indigo" v-if="canBook" >
          <v-icon>shopping_basket</v-icon>
        </v-btn>
        <v-btn fab dark @click="phone" color="indigo" v-if="establishment.phone">
          <v-icon>phone</v-icon>
        </v-btn>
        <v-btn fab dark @click="remove" color="red" v-if="establishment.id">
          <v-icon>delete</v-icon>
        </v-btn>
        <v-btn fab dark @click="save" color="green">
          <v-icon>save</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-card>

    <v-snackbar v-model="snackbar.visible" :color="snackbar.color" multi-line>
      {{ snackbar.text }}
      <v-btn dark flat @click="snackbar.visible = false">
        Fermer
      </v-btn>
    </v-snackbar>

    <v-dialog v-model="pictureDialog">
      <v-img :src="selectedPicture.src" v-if="selectedPicture"></v-img>
    </v-dialog>

    <camera
      ref="camera"
      @save="addPicture"
      @error="snack"
    />

    <comment
      ref="comment"
      @save="addComment"
    />
  </div>
</template>

<style>
  .v-speed-dial {
    position: absolute;
    z-index: 10;
  }

  .v-btn--floating {
    position: relative;
  }
</style>

<script>
import { NoteStars, Camera, Comment } from '@/components'

export default {
  name: 'establishments-details',
  components: { NoteStars, Camera, Comment },
  data: () => ({
    establishment: {
      id: null,
      name: '',
      address: '',
      position: '',
      links: [],
      comments: [],
      createdAt: new Date().toISOString(),
      pictures: []
    },
    rules: {
      required: [ v => !!v || `Ce champs est requis` ]
    },
    snackbar: {
      visible: false,
      color: 'success',
      text: ''
    },
    canBook: 'PaymentRequest' in window,
    fab: false,
    stream: null,
    valid: true,
    pictureDialog: false,
    selectedPicture: null
  }),
  async mounted () {
    if (this.$route.params.id && this.$route.params.id !== 'new') {
      try {
        const establishment = await this.$store.dispatch('getEstablishment', +this.$route.params.id)
        if (establishment) {
          this.establishment = { ...establishment }
        }
      } catch (e) {
        this.$router.push({ name: 'error-404' })
      }
    }
  },
  methods: {
    // Sauvegarde l'établissement
    async save () {
      if (this.$refs.form.validate()) {
        const establishment = await this.$store.dispatch('saveEstablishment', this.establishment)
        const oldId = this.establishment.id
        this.establishment = { ...establishment }
        this.snack('Données sauvegardées', 'success')

        if (!oldId) {
          setTimeout(() => this.$router.push({ name: 'establishments-details', params: { id: establishment.id } }), 500)
        }
      } else {
        this.snack('Veuillez vérifier les données saisies', 'error')
      }
    },

    // Supprime l'établissement
    async remove () {
      const success = await this.$store.dispatch('removeEstablishment', this.establishment.id)
      if (success) {
        this.snack('Établissement supprimé', 'success')
        setTimeout(() => this.$router.push({ name: 'establishments' }), 500)
      } else {
        this.snack('Une erreur est survenue', 'error')
      }
    },

    // Affiche un message en snackbar
    snack (text, color) {
      this.snackbar.text = text
      this.snackbar.color = color
      this.snackbar.visible = true
    },

    startVideo () {
      this.$refs.camera.startVideo()
    },
    addPicture (data) {
      this.establishment.pictures.push({
        user: 'John DOE',
        src: data
      })
      this.save()
    },
    viewPicture (picture) {
      this.selectedPicture = picture
      this.pictureDialog = true
    },

    async addComment (comment) {
      await this.$store.dispatch('addComment', {
        ...comment,
        user: 'John DOE',
        establishement: this.establishment.id
      })
    },

    // Retourne la position actuelle de l'utilisateur s'il a donné l'autorisation
    getPosition () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.establishment.position = `${position.coords.latitude}, ${position.coords.longitude}`
          },
          (err) => {
            let msg = ''
            switch (err.code) {
              case err.TIMEOUT: msg = 'Vous avez pris trop de temps pour répondre'; break
              case err.PERMISSION_DENIED: msg = `Vous n'avez pas accordé la permission`; break
              case err.POSITION_UNAVAILABLE: msg = `Votre GPS n'a pas réussi à indiquer votre position`; break
              case err.UNKNOWN_ERROR: msg = 'Erreur inconnue'; break
            }
            this.snack(`Impossible de récupérer votre position: ${msg}`, 'error')
          }
        )
      } else {
        this.snack('Fonction non supportée par le navigateur...', 'error')
      }
    },

    // Ouvre le dialer du téléphone
    phone () {
      window.location.href = 'tel:' + this.establishment.phone
    },

    // Ouvre Google Maps avec la position
    openMaps () {
      window.open(`https://www.google.fr/maps?q=${this.establishment.position}`)
    },

    // Ouvre un lien dans un nouvel onglet
    openLink (link) {
      const url = link.includes('http') ? link : `http://${link}`
      window.open(url)
    },

    // Ouvre la fenêtre de paiement
    async book () {
      const payment = {
        methods: [{
          supportedMethods: 'basic-card',
          data: {
            supportedNetworks: ['visa', 'mastercard']
          }
        }],
        details: {
          total: {
            label: 'Total',
            amount: {
              currency: 'EUR',
              value: 95
            }
          },
          displayItems: [
            {
              label: 'Menu du jour (x4)',
              amount: {
                currency: 'EUR',
                value: 100
              }
            },
            {
              label: 'Remise fidélité (10%)',
              amount: {
                currency: 'EUR',
                value: -10
              }
            },
            {
              label: 'TVA',
              pending: true,
              amount: {
                currency: 'EUR',
                value: 5
              }
            }
          ]
        },
        options: {
          requestPayerName: true
        }
      }

      const paymentRequest = new PaymentRequest(payment.methods, payment.details, payment.options)

      try {
        const s = await paymentRequest.show()
        console.log(s)
        this.snack('Réservation enregistrée', 'success')
      } catch (e) {
        this.snack('Paiement annulé')
      }
    }
  }
}
</script>
