<template>
  <div>
    <v-dialog v-model="videoDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click.native="stopVideo()">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Souriez</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark @click.native="takePicture()" icon><v-icon>camera_alt</v-icon></v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <video id="video" width="100%" autoplay></video>
        <canvas id="canvas" v-show="false"></canvas>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'Camera',
  data: () => ({
    videoDialog: false
  }),
  methods: {
    // Retourne la liste des périphériques connectés au support
    async getDevice () {
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        let devices = await navigator.mediaDevices.enumerateDevices()
        let videoDevices = devices.filter(d => d.kind === 'videoinput')
        let frontVideo = videoDevices.filter(d => d.label.indexOf('front') > -1)[0]
        let backVideo = videoDevices.filter(d => d.label.indexOf('back') > -1)[0]
        let defaultVideo = videoDevices[0]

        const videoFromFront = false
        return videoFromFront ? (frontVideo || backVideo || defaultVideo) : (backVideo || frontVideo || defaultVideo)
      }
      return null
    },

    // Démarre la caméra si l'utilisateur a donné la permission
    async startVideo () {
      let device = await this.getDevice()
      if (device) {
        let media = {
          video: { optional: [{ sourceId: device.deviceId }] }
        }
        navigator.mediaDevices.getUserMedia(media).then(stream => {
          this.videoDialog = true
          this.video = document.getElementById('video')
          this.video.srcObject = stream
          this.video.play()
          this.stream = stream
        }).catch(e => {
          this.$emit('error', `Erreur: ${e.toString()}`)
        })
      } else {
        this.$emit('error', 'Aucune camera trouvée')
      }
    },

    // Arrete la video
    stopVideo () {
      if (this.stream) {
        this.stream.getTracks()[0].stop()
      }
      this.stream = null
      this.videoDialog = false
    },

    // Prends une photo
    takePicture () {
      let canvas = document.getElementById('canvas')
      let context = canvas.getContext('2d')
      let video = document.getElementById('video')
      canvas.width = video.offsetWidth
      canvas.height = video.offsetHeight

      context.drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight)
      let data = canvas.toDataURL('image/jpeg')

      this.$emit('save', data)
      this.stopVideo()
    }
  }
}
</script>
