<template>
  <v-tooltip bottom>
    <template slot="activator">
      <v-icon v-for="i in total" :key="i" color="orange">star</v-icon>
      <v-icon v-for="i in (max - total)" :key="'sb' + i">star_border</v-icon>
    </template>
    <span v-if="comment">{{ total }}/{{ max }}</span>
    <span v-if="!comment">{{ total }}/{{ max }} (basé sur {{ comments.length }} notes)</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'NoteStars',
  props: ['comments', 'comment'],
  data: () => ({
    max: 5
  }),
  computed: {
    sum () {
      if (this.comment) {
        return Object.values(this.comment.note).reduce((a, b) => a + b, 0)
      } else {
        return this.comments
          .map(c => c.note)
          .reduce((sum, note) => {
            const total = Object.values(note).reduce((a, b) => a + b, 0)
            return sum + total
          }, 0) / (this.comments.length || 1)
      }
    },
    total () {
      return Math.round(this.sum * this.max / 20)
    }
  }
}
</script>
