<template>
  <v-layout row fill-height align-center justify-center>
    <v-flex xs12 sm6 text-xs-center>
      <v-icon :size="180">error_outline</v-icon>
      <h1 class="headline">Erreur 404</h1><br>
      <p class="body-1">La page que vous avez demandé n'existe pas.</p>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'error-404'
}
</script>
